<%- contentFor('content') %>
<section class="wr-full-width wr-gradient-bottom with-opacity" style="background-image:url('https://source.unsplash.com/5EIW3DDX6dw');"></section>
<div class="quote">
  <span class="text">I love the feeling of the fresh air on my face and the wind blowing through my hair.</span>
  <span class="author">Even - Knievel</span>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form id="form-signin">
      <div class="form-group">
        <input type="text" class="form-control" id="txt-username" placeholder="Username" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="txt-password" placeholder="Password" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-info btn-block">Sign In</button>
    </form>
    <div class="form-feedback">
      <a href="/signup">not have an account?</a>
    </div>
  </div>
</div>
