<%- contentFor('content') %>

<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>History</h4>
  </div></div>
  <div class="wr-content row">
    <div class="col-xs-6"><a class="btn btn-cutme btn-block" role="button" onclick="initHairstyleType(1)">IN PROGRESS</a></div>
    <div class="col-xs-6"><a class="btn btn-cutme btn-block" role="button" onclick="initHairstyleType(2)">COMPLETED</a></div>
  </div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4></h4>
  </div></div>
  <div class="wr-content row">
    <div class="col-xs-12">
      <ul>
        <li> date
        <li> style
        <li> barber
        <li> price
        <li> location
      </ul>
    </div>
    <div class="wr-content row">
    <div class="col-xs-3">
      <ul>
        <li>date</li>
      </ul>
    </div>
    </div>
</div>
