<%- contentFor('content') %>
<section class="wr-full-width wr-gradient-bottom with-opacity" style="background-image:url('https://source.unsplash.com/qJKT2rMU0VU');"></section>
<div class="quote">
  <span class="text">I've had long hair, I've had short hair, and I've had in between hair... and its all good.</span>
  <span class="author">Morena Baccarin</span>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="txt-username" placeholder="Username" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="txt-password" placeholder="Password" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="txt-email" placeholder="Email" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="txt-address" placeholder="Address" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="txt-zipcode" placeholder="Zipcode" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="txt-phone" placeholder="Phone" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-info btn-block">Sign Up</button>
    </form>
    <div class="form-feedback">
      <a href="/">have an account?</a>
    </div>
  </div>
</div>
