<%- contentFor('content') %>
<div class="owl-carousel">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Pick style</h4>
  </div></div>
  <div class="wr-content row">
    <div class="col-xs-6">
      <a href="#" class="btn btn-warning btn-block" role="button">Man</a>
    </div>
    <div class="col-xs-6">
      <a href="#" class="btn btn-warning btn-block" role="button">Woman</a>
    </div>
  </div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Choose hair style</h4>
  </div></div>
  <div class="wr-content row text-center"><div class="col-xs-12">
    <ul class="list">
      <li class="item">
        <div class="thumbnail">
          <img src="">
          <div class="caption">
            <div class="title row">
              <div class="col-xs-12">
                <h4>Undercut</h4>
              </div>
            </div>
            <div class="action row">
              <div class="col-xs-6">
                <ul class="info">
                  <li><i class="fa fa-star" aria-hidden="true"></i>5</li>
                  <li>Rp. 50.000,-</li>
                </ul>
              </div>
              <div class="col-xs-6 text-right">
                <a href="#" class="btn btn-warning" role="button">Choose</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="thumbnail">
          <img src="">
          <div class="caption">
            <div class="title row">
              <div class="col-xs-12">
                <h4>Undercut</h4>
              </div>
            </div>
            <div class="action row">
              <div class="col-xs-6">
                <ul class="info">
                  <li><i class="fa fa-star" aria-hidden="true"></i>5</li>
                  <li>Rp. 50.000,-</li>
                </ul>
              </div>
              <div class="col-xs-6 text-right">
                <a href="#" class="btn btn-warning" role="button">Choose</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div></div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Choose Barber</h4>
  </div></div>
  <div class="wr-content row text-center"><div class="col-xs-12">
    <ul class="list">
      <li class="item">
        <div class="thumbnail">
          <img src="">
          <div class="caption">
            <div class="title row">
              <div class="col-xs-12">
                <h4>Barber #1</h4>
              </div>
            </div>
            <div class="action row">
              <div class="col-xs-6">
                <ul class="info">
                  <li><i class="fa fa-star" aria-hidden="true"></i>5</li>
                </ul>
              </div>
              <div class="col-xs-6 text-right">
                <a href="#" class="btn btn-warning" role="button">Choose</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div></div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Pick Address</h4>
  </div></div>
  <div class="wr-content row text-center"><div class="col-sm-6 col-sm-offset-3">
    <form>
      <div class="wr-map google-map">
        <div class="map-block"></div>
        <div class="map-pin"><img src="/image/mappin.png"></div>
      </div>
      <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#dashboard-modal">Order</button>
    </form>
  </div></div>
</div>
<div class="modal wr-vertical-align fade" id="dashboard-modal" tabindex="-1" role="dialog">
  <div class="wr-outer"><div class="wr-inner">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Order</h4>
        </div>
        <div class="modal-body">
          <div class="wr-section">
            <div class="wr-title"><h5>Name</h5></div>
            <div class="wr-content mini"><h4>John Doe</h4></div>
          </div>
          <hr />
          <div class="wr-section">
            <div class="row">
              <div class="col-xs-6">
                <div class="wr-title"><h4>Style</h4></div>
                <div class="wr-content mini">
                  <div class="thumbnail"><img src="https://source.unsplash.com/random/200x200"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="wr-title"><h4>Barber</h4></div>
                <div class="wr-content mini">
                  <div class="thumbnail"><img src="https://source.unsplash.com/random/200x200"></div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="wr-section">
            <div class="wr-title"><h5>Address</h5></div>
            <div class="wr-content mini">
              <div class="thumbnail"><img src="http://maps.googleapis.com/maps/api/staticmap?center=-6.218096,+106.802711&zoom=15&scale=2&size=250x250&maptype=roadmap&key=AIzaSyAbNOIdewwsnyrr9k4MdL7zlg0TQNaE_Vg&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x544ffb%7Clabel:1%7C-6.218096,+106.802711"></div>
            </div>
          </div>
          <hr />
          <div class="wr-section">
            <div class="wr-title"><h5>Price</h5></div>
            <div class="wr-content mini"><h4>Rp. 100.000,-</h4></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-success">Confirm Order</button>
        </div>
      </div>
    </div>
  </div></div>
</div>
