<%- contentFor('content') %>
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Pick style</h4>
  </div></div>
  <div class="wr-content row">
    <div class="col-xs-6 col-sm-3 col-sm-offset-3"><a class="btn btn-cutme btn-block" role="button" onclick="initHairstyleType(1)">Man</a></div>
    <div class="col-xs-6 col-sm-3"><a class="btn btn-cutme btn-block" role="button" onclick="initHairstyleType(2)">Woman</a></div>
  </div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Choose hair style</h4>
  </div></div>
  <div class="wr-content row text-center"><div class="col-xs-12">
    <ul id="hairstyle-list" class="wr-item"></ul>
  </div></div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Choose Barber</h4>
  </div></div>
  <div class="wr-content row text-center"><div class="col-xs-12">
    <ul id="barber-list" class="wr-item"></ul>
  </div></div>
</div>
<hr />
<div class="wr-section">
  <div class="wr-title row text-center"><div class="col-xs-12">
    <h4>Pick Address</h4>
  </div></div>
  <div class="wr-content row text-center"><div class="col-sm-6 col-sm-offset-3">
    <form>
      <div class="wr-map google-map">
        <div id="dashboard-map" class="map-block"></div>
        <div class="map-pin"><img src="/image/mappin.png"></div>
      </div>
      <button id="btn-order" type="button" class="btn btn-cutme btn-block" onClick="initModalDashboard(this)" data-target="#dashboard-modal">Order</button>
    </form>
  </div></div>
</div>
<div class="modal wr-vertical-align fade" id="dashboard-modal" tabindex="-1" role="dialog">
  <div class="wr-outer"><div class="wr-inner">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Order</h4>
        </div>
        <div class="modal-body">
          <div class="nano" style="height:500px">
            <div class="nano-content">
              <div class="wr-section">
                <div class="wr-title"><h5>Name</h5></div>
                <div class="wr-content mini"><h4 id="modal-name"></h4></div>
              </div>
              <hr />
              <div class="wr-section">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="wr-title"><h4>Style</h4></div>
                    <div class="wr-content mini">
                      <div class="thumbnail"><img id="modal-image-hairstyle"></div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="wr-title"><h4>Barber</h4></div>
                    <div class="wr-content mini">
                      <div class="thumbnail"><img id="modal-image-barber"></div>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="wr-section">
                <div class="wr-title"><h5>Address</h5></div>
                <div class="wr-content mini">
                  <div class="thumbnail"><img id="modal-map"></div>
                </div>
              </div>
              <hr />
              <div class="wr-section">
                <div class="wr-title"><h5>Price</h5></div>
                <div class="wr-content mini"><h4 id="modal-price"></h4></div>
              </div>
              <hr />
              <div class="wr-section">
                <div class="wr-title"><h5>Take a selfie please..</h5></div>
                <div class="wr-content mini">
                  <div class="wr-video">
                    <div class="video-tag"><h2>BEFORE</h2></div>
                    <video id="video"></video>
                    <canvas id="canvas" style="display:none;"></canvas>
                    <button id="startbutton" class="btn btn-block btn-cutme">CAPTURE</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btn-confirm-order" type="button" class="btn btn-block btn-cutme">Confirm Order</button>
        </div>
      </div>
    </div>
  </div></div>
</div>
