<!DOCTYPE html>
<html lang="en">
<head>
  <%- include meta.ejs %>
</head>
<body>
  <section class="content">
    <div class="container">
      master
    </div>
  </section>
  <%- include script.ejs %>
</body>
</html>
