<%- contentFor('content') %>
<section class="wr-full-width wr-gradient-bottom with-opacity" style="background-image:url('https://source.unsplash.com/5EIW3DDX6dw');"></section>
<div class="quote">
  <span class="text">I love the feeling of the fresh air on my face and the wind blowing through my hair.</span>
  <span class="author">Even - Knievel</span>
</div>
